.app-intro-title {
    font-size              : 3rem;
    text-align             : justify;
    padding-bottom         : 50px;
    background             : -webkit-linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-intro-options {
   // margin: 0 -25px;
}


.option {
    &-header {
        display           : flex;
        /* justify-content: center; */
        flex-direction    : column;
        align-items       : center;
    }
    &-title {
        font-size: 2rem;
    }
}

.option-description {
    font-size : 2rem;
    text-align: justify;
}