
.footer {
    background: #fff5ee;
    color: white;
    &-inner {
        flex: 0 0 auto;

        width: 100%;
    }
    &-container {
        justify-content: space-around;
        align-items: center;
        .course-info {
            font-size: 3rem;
        }
    }
    &__item {
        flex-basis: 50%;
        flex-grow:1;
    }
    .course-logo {
        text-align: end;
    }
    .gh-teammate-info {
        padding: 10px 0;
        font-size: 2rem;
        color: white;
        font-family: Yellowtail,cursive;
    }
    .project-link,
    .rs__logo {
        height: 50px;
        width: 60px;
        background-repeat: no-repeat;
        background-size: 60px;
        background-position: 50%;
    }
        .rs__logo {
            background-image: url(../../assets/images/rs_school.svg);
    }
    .project-link {
        background-image: url(../../assets/images/github-logo.png); 
    }
}

