input {
  @include text(1.3rem, 1.5, $text-dark);  
  border: none;
  border-radius: 5px;
  padding: 7px 8px;
}

.authorization input,
.registration input {
  margin-top: 35px;
}

#registration-password {
  margin-top: 9px;
}