.header {
  box-sizing: border-box;
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  @include text(4rem, 1, $text-logo, 700);
  @extend %text-shadow;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;

  @media screen and (max-width: 400px) {
    font-size: 3rem;
  }
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;

  @media screen and (max-width: 400px) {
    margin-right: 0;
  }
}