$text-light: #d5dc6c;
$text-dark: #333;
$text-error: #00ffff;

$button-bg-normal: #e4d7ad;
$button-bg-hover: #d8b441;
$button-bg-active: #59da6a;

$page-bg: rgb(156, 39, 39);

$button-shadow: #675228;

$correct: green;
$wrong: red;