.logo {
    background-image: '../../assets/logo.png';

    &_title {
        font-family: $logo-font;
        text-align: center;
        color      : rgb(99, 91, 91);
        text-shadow: 4px 4px 3px rgba(99, 91, 91, 0.74);
        font-size  : 15rem;
        padding    : 0;
        margin     : 0;
    }
}