$text-light: #d5dc6c;
$text-dark: #333;
$text-error: #00ffff;

$button-bg-normal: #e4d7ad;
$button-bg-hover: #d8b441;
$button-bg-active: #ffa645;

$page-bg: #d8a541;

$button-shadow: #675228;

$correct: green;
$wrong: red;