$blue_color: rgba(112, 183, 194, 0.79);
$blue_color_for_input: rgba(112, 183, 194, 0.5);
$first_color: rgba(241, 240, 203, 0.4);
$second_color: rgb(253, 253, 244);
$third_color: rgba(2, 91, 126, 0.8);
$card_text_color: rgb(91, 113, 149);
$green_color: rgba(35, 223, 119, 0.85);
$fourth_color: rgba(1, 75, 104, 0.8);
$button_background: rgba(202, 235, 216, 0.4);
$wrong_answer: rgb(218, 112, 112);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("/../img/nature.jpg") 50% no-repeat;
  background-size: cover;
  height: calc(100vh - 60px);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;

  .main {
    margin-top: 60px;
  }
  .main__wrapper {
    margin: 0 auto;
    max-width: 1440px;
  }
  .card-container {
    display: flex;
    justify-content: center;

    .card {
      min-width: 550px;
      max-width: 600px;
      min-height: 600px;
      .card__wrapper {
        border-radius: 8px;
        background-color: $second_color;
        -webkit-box-shadow: 0px 0px 15px 3px $blue_color;
        -moz-box-shadow: 0px 0px 15px 3px $blue_color;
        box-shadow: 0px 0px 15px 3px $blue_color;
        display: flex;
        justify-content: center;
      }
      .card__image {
        display: flex;
        justify-content: center;

        .card__img {
          border-radius: 8px;
          height: 260px;
          width: 390px;
        }
      }
      .card__main {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        padding: 0 30px;
      }
      .card__input-container {
        display: flex;
        position: relative;
        width: fit-content;
        margin: 10px auto;
      }
      .card__input {
        border: none;
        background-color: $blue_color_for_input;
        width: 0px;
        height: 50px;
        font-size: 2.1rem;
        font-family: "Inconsolata", monospace;
        padding: 0 8px;

        outline: none;
        color: $fourth_color;
      }
      .card__word {
        display: flex;
        justify-content: space-between;

        .card__word-translate,
        .card__transcription {
          font-weight: 700;
          font-size: 1.5rem;

          color: $fourth_color;
        }
      }

      .card__buttons {
        margin-top: 20px;
        .card__main-buttons {
          display: flex;
          justify-content: center;
        }
      .card__difficulty-buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
        .card__check-word-btn,
        .card__skip-word-btn,
        .card__hard-word-btn,
        .card__delete-word-btn,
        .card__easy-word-btn,
        .card__repeat-word-btn
         {
          outline: none;
          user-select: none;
          background-color: $button_background;
          border: 1px solid #e4cccc;
          padding: 5px 10px;
          color: $fourth_color;
          font-family: inherit;
          font-size: 1rem;
          border-radius: 8px;
          display: inline-block;
          position: relative;
          overflow: hidden;
          transition: 0.2s ease-in-out;
          margin-right: 10px;
          &:hover {
            background-color: $green_color;
            cursor: pointer;
            color: #fff;
          }
          &:hover:before {
            left: 250px;
            transition: 0.5s ease-in-out;
          }
          &:before {
            content: "";
            background: -webkit-gradient(
              linear,
              left top,
              right top,
              from(hsla(0, 0%, 100%, 0.1)),
              to(hsla(0, 0%, 100%, 0.5))
            );
            background: linear-gradient(
              90deg,
              hsla(0, 0%, 100%, 0.1),
              hsla(0, 0%, 100%, 0.5)
            );
            height: 50px;
            width: 50px;
            position: absolute;
            top: -8px;
            left: -75px;
            -webkit-transform: skewX(-45deg);
            transform: skewX(-45deg);
          }
        }
      }
      .card__additional-info {
        display: flex;
        flex-direction: column;
      }

      .card__explain,
      .card__word-expample {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 400;
        color: $card_text_color;
      }
    }

    .answer {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding: 0 8px;
      vertical-align: middle;
      display: flex;
      align-items: center;
      opacity: 1;
      transition-duration: 0.5s;
      span {
        font-family: "Inconsolata", monospace;
        font-size: 2.1rem;
        transition-duration: 1s;
        transition-delay: 1s;
      }
      .correct {
        color: $green_color;
      }
      .wrong {
        color: red;
      }
      .default {
        color: $blue_color;
      }
    }
    .answer--remove {
      opacity: 0;
    }
    .navigate {
      display: flex;
      align-items: center;
      width: 2.5rem;
      &:hover {
        cursor: pointer;

        svg {
          fill: $green_color;
        }
      }

      &.navigate--prev {
        margin-right: 20px;
        svg {
          transform: rotate(180deg);
        }
      }
      &.navigate--next {
        margin-left: 20px;
      }
      svg {
        fill: $third_color;
        width: 3rem;
        height: 3rem;
        transition: 0.45s;
      }
    }
  }
}
