.button {
  @extend %block-shadow;
  cursor: pointer;
  border: 0;
  outline-color: transparent;
  border-radius: 5px;  
  transition: 0.5s;  
  padding: 5px;
  user-select: none;
  overflow: hidden;
}

.registration__button,
.authorization__button {
  @include text(1.3rem, 1, $text-white, 700);
  height: 40px;
  background-color: $button-bg-normal;
  margin-top: 40px;
  position:relative;  
  width: 54%;

  &:hover:before {
    left: 250px;
    transition: .5s ease-in-out;
  }

  &:before {
    content: "";
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(hsla(0, 0%, 100%, 0.1)),
      to(hsla(0, 0%, 100%, 0.5))
    );
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.1),
      hsla(0, 0%, 100%, 0.5)
    );
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
  }
}

.header__button {
  @include text(1.3rem, 1, $text-white, 700);
  margin-left: 20px;
  padding: 10px 20px;
  background-color: $button-bg-normal;
  position: relative;

  &:hover:before {
    left: 250px;
    transition: .5s ease-in-out;
  }

  &:before {
    content: "";
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(hsla(0, 0%, 100%, 0.1)),
      to(hsla(0, 0%, 100%, 0.5))
    );
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.1),
      hsla(0, 0%, 100%, 0.5)
    );
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
  }
}
