main {
  background: url(../../assets/images/nature.jpg) 50% no-repeat;
  background-size: cover;
  min-height: calc(100vh - 80px);
}

.hide {
  display: none !important;
}

.error {
  @include text(1.4rem, 1.4, $text-error);
  position: static;
  margin-top: 6px;
  line-height: inherit;
  min-height: 20px;
  text-align: justify;
}