@font-face {
  font-family: 'Open Sans';
  src: url(./fonts/Open_sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url(./fonts/Open_sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url(./fonts/Open_sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(./fonts/Helvetica_Neue/HelveticaNeueCyr-Roman.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(./fonts/Helvetica_Neue/HelveticaNeueCyr-Bold.otf);
  font-weight: 700;
}