.basic-header {
    background-color: $main-page-blue;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        font-size: 2rem;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: $text-white;
        @media screen and (max-width: 427px) {
        font-size: 1.3rem;
        }
        
    }

    &__item {
        cursor: pointer;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            height: 100%;
            width: 0;
            left: 0;
            top: 0;
            border-bottom: 3px solid $button-bg-active;
            transition: 0.3s ease-in;
        }

        &::after{
            content: '';
            position: absolute;
            height: 100%;
            width: 0;
            right: 0;
            top: 0;
            border-top: 3px solid $button-bg-active;
            transition: 0.3s ease-in;
        }

        &:hover {

            &::after {
                width: 50%;
            }

            &::before {
                width: 50%;
            }
        }

        &-active {
            text-decoration: underline;
            cursor: initial;

            
            &:hover {

                &::after {
                    width: 0;
                }

                &::before {
                    width: 0;
                }
            }
        }
    }
}