.login-page {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.login-page__title {
  @include text(4rem, 1, $text-light, 700);
  @extend %text-shadow;
  text-align: center;
  letter-spacing: 1.2rem;  
  font-family: 'Helvetica Neue', sans-serif;
}

.form-block {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgba($color: #fff, $alpha: 0.4);
  padding: 20px;
  border-radius: 20px;

  *:not(.error) {
    width: 100%;
  }
}

.registration__title,
.authorization__title {
  @include text(3rem, 1, $text-light);
  text-align: center;
}

input {
  @include text(2rem, 1.5, $text-dark);
  margin-top: 30px;
}

.registration__switch {
  @include text(2.5rem, 1, $text-light);
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}