.sprint__toggle {
    margin-bottom: 30px;

    &_switch {
        width: 150px;
        height: 50px;
        text-align: center;
        margin-top: -15px;
        background: #af7ac5;
        transition: all 0.2s ease;
        border-radius: 25px;
        position: relative;

        span {
            position: absolute;
            width: 20px;
            height: 4px;
            top: 50%;
            left: 50%;
            margin: -2px 0px 0px -4px;
            background: #fff;
            display: block;
            transform: rotate(-45deg);
            transition: all 0.2s ease;

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 4px;
                height: 12px;
                margin-top: -8px;
                background: #fff;
                transition: all 0.2s ease;
            }
        }

        label { 
            cursor: pointer;
            color: rgba(0,0,0,0.2);
            width: 60px;
            line-height: 50px;
            transition: all 0.2s ease;
            font-size: 1.4rem;
        }

        label[for=sprint__toggle_yes] {
            position: absolute;
            left: 0px;
             height: 20px;
        }

        label[for=sprint__toggle_no] {
            position: absolute;
            right: 0px;
        }

    }

    &_no:checked ~ .sprint__toggle_switch {
        background: #eb4f37;
    }

    &_no:checked ~ .sprint__toggle_switch span {
        background: #fff;
        margin-left: -8px;
    }

    &_no:checked ~ .sprint__toggle_switch span:after {
        background: #fff;
        height: 20px;
        margin-top: -8px;
        margin-left: 8px;
    }

    &_yes:checked ~ .sprint__toggle_switch label[for=sprint__toggle_yes] {
        color: #fff;
    }

    &_no:checked ~ .sprint__toggle_switch label[for=sprint__toggle_no] {
        color: #fff;
    }

    &_no,
    &_yes {
        display: none;
    }
}