*{
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    }
body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: violet;
    color: white;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-screen{
    width: 80%;
    min-height: 50vh;
    text-align: center;
}
h1{
   font-size: 50px; 
   padding: 50px 0px;
}
.start-btn{
    width: 60%;
    max-width: 400px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    margin: 0px auto;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 15px;
}
.start-btn:hover{
    background-color: rgb(206, 170, 240);
    cursor: pointer;
}
.words{
   display: flex;  
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 50px;
   padding-bottom: 100px;
   font-size: 20px;
}
.words div{
    padding-left: 20px;
    padding-bottom: 20px;
    text-transform: lowercase;
}
.dont-known-btn{
   border: 1px solid white;
   width: 200px;
   font-size: 20px;
   text-transform: uppercase;
   padding: 10px 20px;
   margin: 0px auto;
   opacity: 0.5;
}
.dont-known-btn:hover{
    cursor: pointer;
    opacity: 1;
}
.sound-img{
    width: 120px;
    height: 120px;
    background: url('img/sound.png') no-repeat;
    margin: 0px auto;
}
.sound-img:hover{
    cursor: pointer;
    background: url('img/sound-on.png') no-repeat;
}