@font-face {
  font-family: 'Cinzel Decorative';
  src: url(../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url(../fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Cormorant Upright';
  src: url(../fonts/Cormorant_Upright/CormorantUpright-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant Upright';
  src: url(../fonts/Cormorant_Upright/CormorantUpright-Bold.ttf);
  font-weight: 700;
}