.header {
  box-sizing: border-box;
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  @include text(4rem, 1, $text-light, 700);
  @extend %text-shadow;
  cursor: pointer;
  margin-left: 14%;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 14%;
}